[Unit]
Description = Brewery Server

[Service]
Type = forking
WorkingDirectory = /home/github.com/stoopidbeagle/Brewery
ExecStart = dotnet run
Environment=DOTNET_CLI_HOME=/temp

[Install]
WantedBy = multi-user.target