[Unit]
Description = Brewery Server

[Service]
Type = forking
WorkingDirectory = /home/github.com/stoopidbeagle/Brewery
ExecStart = dotnet run

[Install]
WantedBy = multi-user.target