@model app.Models.Beer

<table>
    <tr>
        <td>Brewer</td>
        <td>@Model.Brewer</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Type</td>
        <td>@Model.Type</td>
    </tr>
    <tr>
        <td>ABV</td>
        <td>@Model.ABV</td>
    </tr>
</table>
