@model List<app.Models.Name>

<table>
    <tr>
        <th>Name</th>
        <th>Gender</th>
    </tr>
    @foreach (var name in Model)
    {
        <tr>
            <td><a href="names/@name.Value">@name.Value</a></td>
            <td>@name.Gender</td>
        </tr>
    }
</table>
