@model app.Models.Name

<table>
    <tr>
        <td>Name</td>
        <td>@Model.Value</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td>Meaning</td>
        <td>@Model.Meaning</td>
    </tr>
</table>
